<div class="details">
    <iframe class="details__trailer" src="{{url}}" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  
    <div class="details__bottom">
      <img class="details__image" src="../server/images/{{image}}" alt="Affiche du film" />
  
      <div class="details__infos">
        <h2 class="details__title">{{titre}}</h2>
        <p class="details__desc">Synopsis : {{desc}}</p>
        <div class="details__info">
          <p class="details__realisateur">Réalisateur : {{realisateur}}</p>
          <p class="details__annee">Année : {{annee}}</p>
          <p class="details__duree">Durée : {{duree}} minutes</p>
          <p class="details__categorie">Catégorie : {{categorie}}</p>
          <p class="details__age">Âge conseillé : {{age}} ans</p>
      </div>
      </div>
    </div>
  </div>


