.cards {
  display: flex;
  padding: 2rem;
  max-width: 100%;
  align-items: center;
}

.card {
  flex: 0 0 auto;
  height: 30rem;
  width: 400px;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}




.card__image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  
}

.card__title {
  position: absolute;
  font-size: 1.5em;
  color: #ffffff; 
  transition: color 0.3s ease, transform 0.3s ease; 
  text-align: center;
}


.card__title:hover {
  color: #de0000; 
  transform: scale(1.1); 
}


.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column; 
    padding: 1rem; 
    align-items: center; 
  }

  .card {
    flex: 0 0 auto;
    height: 30rem;
    width: 400px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  

  .card__title {
    font-size: 1.2em; 
    text-align: center;
  }

  
.card__image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  
}
}


