.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
  background: linear-gradient(
    to bottom,
    hsla(186, 84%, 4%, 0.9),
    hsla(186, 84%, 4%, 0.6),
    hsla(186, 84%, 4%, 0.3),
    transparent
  );
  color: var(--color-fg);
  font-family: var(--ff-sans);
}


.navbar__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar__logo img {
  height: 2.2rem;
  margin-right: 2rem;
}

.navbar__center {
  display: flex;
  gap: 2rem;
}

.navbar__item {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.85rem;
  position: relative;
}

.navbar__item:hover {
  color: #999;
}

.navbar svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: auto;
  cursor: pointer;
  flex-shrink: 0;
}

.navbar__profil {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.navbar__select {
  background: transparent;
  border: 0.1rem solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0.3rem 0.7rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 0.85rem;
}

.navbar__select option {
  background: transparent;
}

.navbar__image {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.1rem solid white;
}
