<div class="addProfil">

    <h2 class="addProfil__title">Ajouter un Profil</h2>
    <form class="addProfil__form">
        <input required type="text" name="nom" placeholder="Saisir le nom du profil"/>
        <input required type="text" name="avatar" placeholder="Saisir le nom de l'avatar" />
        <input required type="number" name="age" placeholder="Saisir la restriction d'age" />
        <input onclick="{{handler}}" type="button" value="Ajouter le profil" name="todo" />
    </form>

</div>